trained_models/
demo
model_data/

#romp/
*.whl
output
压缩包
active_configs/*
#configs/*_self.yml
build/
dist/
*.egg-info/
.eggs/
__pycache__/
log/*
.idea/
env_romp.tar.gz
zip

# service

#123