trained_models/
demo
model_data/
压缩包
output/*/train
output/*/test
output/*/validation
output/*/results.zip





#romp/
#configs/*_self.yml
build/
dist/
*.egg-info/
.eggs/
__pycache__/
log/*
.idea/


# service

#123